/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root{
    --gridCellHeight: 100px;
    --gridCellWidth: 100px;
    --gridWidthPixels: 80%;
    --etchGridCellBorder: .1px solid hsl(0 0% 95%);
}

/* USER INPUT */
    /* || Reset Button */
#resetButton{
    display: flex;
    justify-content: center;
    margin: 20px auto 20px;
    width: 60%;
    height: 40px;
    align-items: center;
    border-radius: 20px;
    border: none;
}
#resetButton:hover{
    background-color: hsl(0 0% 90%);
}
#resetButton:active{
    background-color: hsl(0 0% 35%);
    color: white;
}
    /* || INPUT PANEL */
#resetPanel{
    width: 300px;
    height: 390px;
    border: 1px solid black;
    position: absolute;
    top: 130px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-shadow: 0 3px 10px hsl(115, 0%, 80%);
}
        /* Set Grid Width and Height */
#gridWidthInputText, #gridHeightInputText{
    position: absolute;
    font-family: Arial;
    font-size: 30px;
}
#gridWidthInputText{
    left: 30px;
    top: 60px;
}
#gridHeightInputText{
    left: 30px;
    top: 170px;
}

#inputDimensionButtons{
    display: flex;
    flex-direction: column;
    margin: 20px 50%;
    width: 150px;
    justify-content: space-around;
}
#gridWidthInput, #gridHeightInput{
    width: 100px;
    height: 100px;
}
#gridWidthInput[type='text'], #gridHeightInput[type='text']{
    font-size: 50px;
    text-align: center;
}
#gridWidthInput{
    margin-bottom: 15px;
}

        /* Choose Pen */
#etchCheckboxText{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 55px;
    right: 60px;
    align-items: center;
}
.penContainer input{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.penContainer{
    display: block;
    position: relative;
    margin: 16px 0 0 0;
    padding-left: 30px;
    font-size: 15px;
    color: hsl(0 0% 35%);
}

.etchCheckmark{
    height: 15px;
    width: 15px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0 0% 40%);
    border-radius: 8px;
}
.penContainer:hover input ~ .etchCheckmark {
    background-color: hsl(0 0% 70%);
}
.penContainer input:checked ~ .etchCheckmark {
    background-color: hsl(115, 50%, 30%);
}
        /* Enable or Disable Grid */
#gridContainer{
    position: absolute;
    left: 12px;
    bottom: 100px;
    padding-left: 30px;
    font-size: 30px;
    color: hsl(0 0% 40%);
}
#gridCheckboxNew{
    height: 15px;
    width: 15px;
    position: absolute;
    left: 55px;
    top: 40px;
    border: 1px solid hsl(0 0% 40%);
}
#gridContainer:hover input ~ #gridCheckboxNew{
    background-color: hsl(0 0% 70%);
}
#gridContainer input:checked ~ #gridCheckboxNew{
    background-color: hsl(115, 50%, 30%);
}
#gridContainer input{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

    /* Confirm Button */
#confirmGridDimensions{
    width: 200px;
    height: 30px;
    background-color: hsl(115, 50%, 30%);
    color: white;
    border: 1px solid black;
    position: absolute;
    left: 40px;
    bottom: 13px;
}
#confirmGridDimensions:hover{
    background-color: hsl(115,50%, 50%);
}
#confirmGridDimensions:active{
    background-color: hsl(115, 50%, 80%);
    color: black;
}

/* || Etch Grid */
 #etchGrid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: flex-start;
    width: var(--gridWidthPixels);
    margin: 0 auto;
    border: 2px solid green;

 }  
 .etchGridCell{
    border: var(--etchGridCellBorder);
    height: var(--gridCellHeight);
    width: var(--gridCellWidth);
    grid-column-gap: 0px;
    box-sizing: border-box;
 }